[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
click = "*"
cloudpickle = "*"
coverage = "*"
cycler = "*"
dask = "*"
decorator = "*"
jinja2 = "*"
kiwisolver = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
pandas = "*"
plumbum = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
scipy = "*"
seaborn = "*"

[dev-packages]

[packages]
e1839a8 = {path = ".",editable = true}
